/* MAIN PAGE */

.intro-img,
.intro-img-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-img-top {
  z-index: 1;
}

.rabbit-img {
  width: auto;
  height: 90vh;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
