.navlink {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--text);
  padding: 1rem;
  margin-right: 1rem;
  border-bottom: 2px solid transparent;
}

.navlink:hover {
  border-bottom: 2px solid var(--text);
}


@media (max-width: 840px) {
  .navlink {
    font-size: 0.9rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}
}
