.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.barcode-result-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.barcode-result {
  position: absolute;
  background-color: var(--background-small);
  color: var(--text-second);
  z-index: 1;
  bottom: 100px;
  font-size: 3rem;
  width: fit-content;
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
}


@media (max-width: 840px) {
  .video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
