/* HEADER AND NAVIGATION */

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 0;
}

.navlink-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(50% - 70px);
}

.logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 140px;
}

@media (max-width: 840px) {
  .page-header {
    padding: 15px 8px 0;
  }

  .navlink-wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .logo {
    padding: 0 7px;
  }

  .logo img {
    width: 100%;
  }
}
