.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.footer-text {
  font-size: 0.9rem;
  color: var(--text);
}

@media (max-width: 840px) {

  .footer-container {
    position: relative;
    padding: 1.2rem;
  }

  .footer-text {
    font-size: 0.7rem;
  }
}
