@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* CSS VARIABLES */

:root {
  --background-main: #ebebeb;
  --text: #242223;
  --text-running: #a5a5a5;
}

:root[data-theme='dark'] {
  --background-main: #2a2a2a;
  --text: #a6a6a6;
  --text-running: #a5a5a5;
}

/* BASIC STYLES */

*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-main);
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

 /* HEADER AND NAVIGATION */
/*
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 0;
}

.navlink-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  height: 50px;
}
 */
 
/* MAIN PICS */

.intro-img,
.intro-img-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-img-top {
  z-index: 1;
}

.rabbit-img {
  width: auto;
  height: 90vh;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.cage-img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  animation: cageFall 1s ease-in-out forwards;
}

.cage-rise {
  animation: cageRise 1s ease-in-out forwards;
}

@keyframes cageFall {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes cageRise {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}
