@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* CSS VARIABLES */

:root {
  --background-main: #ebebeb;
  --text: #242223;
  --text-running: #a5a5a5;
}

:root[data-theme='dark'] {
--background-main: #2a2a2a;
--text: #a6a6a6;
--text-running: #a5a5a5;
}

/* BASIC STYLES */

*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-main);
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* HLAVIČKA - NAVIGACE */

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 0;
}

.navlink-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navlink {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--text);
  padding: 1rem;
  margin-right: 1rem;
}

.navlink:hover {
  border-bottom: 2px solid var(--text);
}

.logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  height: 50px;
}

/*TOGGLE SWITCH STYLES*/
.theme-switch-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.theme-switch-text {
  margin-right: 0.5rem;
  font-size: 1rem;
  text-transform: lowercase;
  color: var(--text);
}

.theme-switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 45px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--text-running);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked+.slider {
  background-color: #ca2779;
}

input:checked+.slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* RUNNING LINE */

.running-line-container {
  height: calc(90% - 2rem);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 0;
  margin-top: 2rem;
}

.running-line {
  width: max-content;
  margin: 0 auto;
  font-size: 17vh;
  white-space: nowrap;
  position: relative;
  color: var(--text-running);
  font-weight: bold;
}

.running-line-text {
  display: inline-block;
}

.speed1 {
  animation: running-line-animation1 160s linear infinite;
  animation-delay: -80s;
}

.speed2 {
  animation: running-line-animation2 160s linear infinite;
}

.speed3 {
  animation: running-line-animation1 194s linear infinite;
  animation-delay: -97s;
}

.speed4 {
  animation: running-line-animation2 194s linear infinite;
}

.speed5 {
  animation: running-line-animation1 180s linear infinite;
  animation-delay: -90s;
}

.speed6 {
  animation: running-line-animation2 180s linear infinite;
}

.speed7 {
  animation: running-line-animation1 210s linear infinite;
  animation-delay: -105s;
}

.speed8 {
  animation: running-line-animation2 210s linear infinite;
}

@keyframes running-line-animation1 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes running-line-animation2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
  }
}

/* MAIN PICS */

.intro-img,
.intro-img-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-img-top {
  z-index: 1;
}

.rabbit-img {
  width: auto;
  height: 90vh;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.cage-img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  animation: slideFromTop 2s ease-in-out forwards;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
