@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* CSS VARIABLES */

:root {
  --background-main: #ebebeb;
  --text: #2a2a2a;
  --text-running: #a5a5a5;
  --background-small: #2a2a2a;
  --text-second: #ebebeb;
}

:root[data-theme='dark'] {
  --background-main: #2a2a2a;
  --text: #b7b7b7;
  --text-running: #a5a5a5;
  --background-small: #ebebeb;
  --text-second: #2a2a2a;
}

/* BASIC STYLES */

*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-main);
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}
